<!doctype html>
<html>
<head>
	<title>blog admin</title>

	<!-- For S3 bucket CORS config -->
	<!-- https://docs.aws.amazon.com/AWSJavaScriptSDK/guide/browser-configuring.html -->

	<!-- <script src="vendor/aws-sdk-2.4.1.js"></script> -->

	<link rel="stylesheet" type="text/css" href="node_modules/semantic-ui-css/semantic.min.css">
</head>
<body>

<template id="loginDialogTemplate">
	<div class="ui small modal" v-el:modal>
		<div class="header">Login</div>
		<div class="content">
			<form class="ui form" v-el:form>
				<div class="field">
					<label>Email</label>
					<input type="text" name="email" v-model="email" placeholder="me@abc.com">
				</div>
				<div class="field">
					<label>Password</label>
					<input type="password" name="password" v-model="password">
				</div>
				<div class="ui error message"></div>
			</form>
		</div>
		<div class="actions">
			<div class="ui positive labeled icon button" v-el:login-button>
				<i class="checkmark icon"></i>
				Login
			</div>
		</div>
	</div>
</template>

<div id="app">

	<h1>{{ title }}</h1>

	<login-dialog show></login-dialog>

	<br><br>

	<div style="max-width: 600px">
		<table class="ui celled striped table"">
			<thead>
				<tr><th colspan="3">
					Posts
				</th></tr>
			</thead>
			<tbody>
				<tr>
					<td class="collapsing">
						filename.md
					</td>
					<td>Title goes here</td>
					<td class="right aligned collapsing">2016-02-04</td>
				</tr>
				<tr>
					<td class="collapsing">
						filename.md
					</td>
					<td>Title goes here</td>
					<td class="right aligned collapsing">2016-02-04</td>
				</tr>
				<tr>
					<td class="collapsing">
						filename.md
					</td>
					<td>Title goes here</td>
					<td class="right aligned collapsing">2016-02-04</td>
				</tr>
				<tr>
					<td class="collapsing">
						filename.md
					</td>
					<td>Title goes here</td>
					<td class="right aligned collapsing">2016-02-04</td>
				</tr>
				<tr>
					<td class="collapsing">
						filename.md
					</td>
					<td>Title goes here</td>
					<td class="right aligned collapsing">2016-02-04</td>
				</tr>
			</tbody>
		</table>
	</div>

	<br><br>

	<button @click="listObjects" class="ui button">List objects</button>

	<br><br>

	<textarea name="post" id="postFld" cols="65" rows="10"></textarea>

	<br>

	<button id="postBtn" class="ui primary button">Create new post</button>

</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script> -->
<script src="dist/bundle.js"></script>
	
</body>
</html>