<div>
	<login-dialog show></login-dialog>

	<h1>{{ title }}</h1>

	<br><br>

	<aside class="menu">
		<div class="ui fluid vertical menu">
			<a href="#" class="item active" v-link="{ path: '/compose/new' }">
				Create New Post
			</a>
			<a href="#" class="item" v-link="{ path: '/posts' }">Post List</a>
			<a href="#" class="item" v-link="{ path: '/settings' }">Settings</a>
		</div>
	</aside>

	<section class="content">
		<!-- Add keep-alive attr here to remove rerendering -->
		<router-view></router-view>
	</section>
</div>
